html{
    background-color: black;
    text-align: center;
}
body{
    text-align: center;
}

button{
    background-color: #222;
    color: white;
    border: none;
    margin: 5px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 5px;
    
}
#clearButton{
    background-color: #222;
}
#switch{
    background-color: grey;
}
#clearEntry{
    background-color: #222;
}
#number{
    background-color: grey;
}
#equal{
    background-color: lightsteelblue;
}
#clear{
    background-color: #222;
    width: 136px;
}
#operator{
    background-color: #333;
}
button::-moz-focus-inner {
    border: 0;
}
:-moz-focusring{
    color:none;
}
.button:hover{

    transform: scale(1.15);
}
    
#output{
    margin: auto;
    display: block;
    height: 50px;
    width: 265px;
    border-radius: 10px;
    background-color: #222;
    text-align: right;
    color: white;
    padding: 10px 10px 0 10px;
    margin-top: 150px;
    font-size: 40px;
}
